/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  
  }
  
  article {
  
  }
  
  h1 {
  
  }
  
  h2 {
  text-align: center;
  }
  
  img {
    width: 100%;
  }
  
 
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  border:2px solid red;
}

section {
  display: flex;
  flex-flow: row wrap;
}
  
  figure {
    flex-basis: 46%;

  }
  
  figcaption {
    font-size: .8em;
  }
  @media screen and (max-width:680px) {
      *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
        body{
          font-size: 1rem;
          margin: 10 10;
          background-color: red;
          padding: 10px;
        }
        body h1{
            font-size: 1.6rem;
        }
          figure{
            flex-basis: 40%;
            margin-right: 5%;
            
        }
           main{
            flex-direction: column;
            display: flex;
            flex-wrap: wrap;
            flex-basis:100%;
            justify-content:space-around;
            border: 1px solid yellow;
        }
        section {
          display: flex;
          flex-flow: row wrap;
        }
  }
/*   Realize as seguintes tarefas:
  1 - Faça o tamanho da fonte ser maior;
  2 - Faça o tamanho da fonte dos elementos h1 ser menor;
  3 - Aumente o espaçamento entre as figuras;
  4 - Adicione um pouco de margin na página.
  5 - Guarde a largura da tela no ponto que você identificou que o layout atual não funcionou bem (por exemplo 800px) . Esse será o primeiro breakpoint do layout . Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar;
  6 - Crie uma media query no seu arquivo CSS , usando a dimensão em pixels que você guardou como o min-width do teste da media query . Dentro desse breakpoint , adicione os seguintes ajustes:
  
      Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito) ;
      Ajuste o tamanho da fonte;
      Ajuste as margens da página;
      Faça as imagens serem mostradas em duas colunas.
  
  7 - Agora, você vai criar outro breakpoint para telas grandes. Redimensione sua tela de novo para encontrar um novo breakpoint .
  8 - Crie uma nova media query no seu arquivo CSS usando a dimensão que você encontrou para telas grandes (por exemplo 1300px) , e realize os seguintes ajustes dentro do breakpoint :
  
      Altere a cor de fundo;
      Ajuste o tamanho da fonte;
      Ajuste as margens da página;
      Adicione a propriedade max-width à página, para garantir que a largura das linhas não fique muito grande.
   */